

.footer {
  bottom: 0;
  float: left;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0099CC;
  border-top: 2px solid black !important;
}

.footer-image {
	width: 200px;
	height: 35px;
	opacity: .5;
}


.footer-icon {
	color: white;
	opacity: .5;
	position: relative;
	margin-right: 0px;
	float: right;
	margin-top: 0px;
	display: inline-block;
	margin-left: 40px;
}

.footer-icon:hover {
	opacity: 1;
	color: white;
}

#copyright {
	display: block;
	clear: both;
	font-size: 9px
}

.right {
	background-color: white;
    right: 0px;
    border: 4px solid black;
}

.footer-left {
	background-color: white;
    position: absolute;
    height:60px;
     left: 0px;
}