html { font-size: 62.5%; }

.top-label{
padding-top:10px;
}

body {
  /* Margin bottom by footer height */
  background: url("/img/mapbackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-image: url("/img/mapbackground.jpg");*/
  margin-bottom: 60px;
  padding-top: 25px;
}

.title-img{
	    display: block;
    margin-left: auto;
    margin-right: auto 
}

.title{
  font-weight: bold;
  text-align: center;
}

.titlefont{
  color: #444;
  margin: 0;
  font-size: 30px;
  line-height: 44px;
  border: 1px solid black;
  background: white;

}
 .buttonCustom {
     border: none;
     padding: 2px 8px;
 }
 .buttonCustom:hover {
     border: none;
     padding: 2px 8px;
 }

 @media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}