.top-label{
padding-top:10px;
}

body {
  /* Margin bottom by footer height */
          background: url("/img/mapbackground.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  /*background-image: url("/img/mapbackground.jpg");*/
  margin-bottom: 60px;
}
