<template name="search">
  {{location}}
<form id="coordinates" action="action">
  <div class="panel-group top-label" id="accordion">
  <!--START ACCORDIAN PANEL SECTION-->
    <div class="panel panel-default">
      <!--START ACCORDIAN HEADER SECTION-->
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h4 class='title'>Log In</h4>
        </a>
      </div>
        <!--END ACCORDIAN HEADER SECTION-->
          <!--START ACCORDIAN CONTENT SECTION-->
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
            <form id="login-form" action="action">
            	<p class="top-label">Email Address</p>
            	<input type="email" class="form-control input-lg" id="email"/>
            	<p class="top-label">Password</p>
            	<input type="password" class="form-control input-lg"  id="password"/>
            </form>

            </div>
          </div>
          <!--END ACCORDIAN CONTENT SECTION-->
          </div>
          <!--END ACCORDIAN PANEL SECTION-->

      <div class="panel panel-default">
      <!--START ACCORDIAN HEADER SECTION-->
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h4 class='title'>Coordinates</h4></a>
      </div>
        <!--END ACCORDIAN HEADER SECTION-->
          <!--START ACCORDIAN CONTENT SECTION-->
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
            <p>To Test crisis detection - lat=-10.9949 lon=162.5624</p>
              <p class="top-label">Latitude</p><input type="text" class="form-control input-lg" id="lat" value={{lat}}>
              <p class="top-label">Longitude</p><input type="text" class="form-control input-lg" id="long" value={{long}}>
            </div>
          </div>
          <!--END ACCORDIAN CONTENT SECTION-->
          </div>
          <!--END ACCORDIAN PANEL SECTION-->
      </div>
      <!--END ACCORDIAN -->
      <div class="row">
      	<div class="col-md-6 col-sm-8">
      	<h2><button id="search">Search</button></h2>
      	</div>
      	<div class="col-md-6 col-sm-8">
      		<h2><button id="register" class="right">Register</button></h2>
      </div>
      </div>
</form>
  <!--spacer div-->
</template>