<template name="search">
  {{location}}
<form id="coordinates" action="action">
  <div class="panel-group top-label" id="accordion">
  <!--START ACCORDIAN PANEL SECTION-->
    <div class="panel panel-default">
      <!--START ACCORDIAN HEADER SECTION-->
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h4 class='title'>Account Information</h4>
        </a>
      </div>
        <!--END ACCORDIAN HEADER SECTION-->
        <!--START ACCORDIAN CONTENT SECTION-->
        <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>Username: {{username}}</li>
            <li>Your Account Email: {{email}}</li>
            <li>Send Alerts From: {{mandrillKey}}</li>
          </ul>
        </div>
      </div>
      <!--END ACCORDIAN CONTENT SECTION-->
    </div>
    <!--END ACCORDIAN PANEL SECTION-->
    <div class="panel panel-default">
      <!--START ACCORDIAN HEADER SECTION-->
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <h4 class='title'>Emergency Contact</h4>
        </a>
      </div>
        <!--END ACCORDIAN HEADER SECTION-->
          <!--START ACCORDIAN CONTENT SECTION-->
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
            <ul>
              <li>Emergency Contact Name: {{cont}}</li>
              <li>Send Alert Emails To: {{cont_email}}</li>
              <li>Send Alert Texts To: {{cont_phone}}</li>
              <li>Emergency Contact Cell Provider: {{cont_carrier}}</li>
            </ul>
            </div>
          </div>
          <!--END ACCORDIAN CONTENT SECTION-->
          </div>
          <!--END ACCORDIAN PANEL SECTION-->    
      <div class="panel panel-default">
      <!--START ACCORDIAN HEADER SECTION-->
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <h4 class='title'>Coordinates</h4>
        </a>
      </div>
        <!--END ACCORDIAN HEADER SECTION-->
          <!--START ACCORDIAN CONTENT SECTION-->
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
            <p>To Test crisis detection - lat=-10.9949 lon=162.5624</p>
              <p class="top-label">Latitude</p>
              <input type="text" class="form-control input-lg" id="lat" value={{lat}}>
              <p class="top-label">Longitude</p>
              <input type="text" class="form-control input-lg" id="long" value={{long}}>
            </div>
          </div>
          <!--END ACCORDIAN CONTENT SECTION-->
          </div>
          <!--END ACCORDIAN PANEL SECTION-->
      </div>
      <!--END ACCORDIAN -->
      <div class="row">
      	<h2><button id="search" class="col-md-4 col-xs-12">Search</button></h2>
        <h2><button id="panic" class='title-img col-md-4 col-xs-12'>Panic</button></h2>
      	<h2><button id="register" class="col-md-4 col-xs-12  ">Register</button></h2>
      </div>
</form>
  <!--spacer div-->
</template>