<template name="footer">
    <footer class="footer">
        <div class="row">
            <!-- This is the logo picture -->
            <div class="col-md-3 col-sm-8"></div>
            <div class="col-md-2 col-sm-8">
                <h6 class="light-gray left" id="copyright">Copyright © 2015 Thaddeus Ng. All rights reserved.</h6>
            </div>
            <div class="col-md-4 col-sm-8">
                <a href="mailto:admin@crisiszone.com" class="right">Email the Admin</a>
            </div>
            <div class="col-md-3 col-sm-8">
            </div>
        </div>
    </footer>
</template>