<template name="footer">
    <footer class="footer navbar navbar-default navbar-fixed-bottom">
        <div class="row">
            <div class="col-xs-2 col-md-offset-3 col-xs-offset-1">
                <div class='footer-left'>
                <h6><a href="mailto:thaddeus.a.ng+crisiszone@gmail.com" >Contact Us</a></h6>
                <h4 class="light-gray" id="copyright">Copyright © 2015 Thaddeus Ng. All rights reserved.</h4>
                </div>
            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </footer>
</template>