<template name="header">

    <header class="navbar" role="banner">

        <div class="row">
            <!-- This is the logo picture -->
            <div class="col-md-3 col-sm-8"></div>
            <div class="col-md-2 col-sm-8">
                <a href="/search" class="left"><img id="logo-pic" src="/img/SIGIMERA.png"/></a>
            </div>
            <div class="col-md-2 col-sm-8">
                <h2 class='title'>Crisis-Zone</h2>
            </div>
            <div class="col-md-2 col-sm-8 ">
                <a href="/search" class="right"><img  src="/img/GDACS.png"/></a>
            </div>
            <!-- This is the user dashboard profile picture -->
            <div class="col-md-3 col-sm-8"></div>
        </div>

    </header>
</template>