<template name="home">
<div class="row">
  <div class="panel-group" id="accordion">
  <!--START ACCORDIAN PANEL SECTION-->
  <div class="panel panel-default">
      <!--START ACCORDIAN HEADER SECTION-->
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Map</a></h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body row">
          {{> map}}
        </div>
      </div>
          <!--END ACCORDIAN CONTENT SECTION-->
  </div>
  <button id="report">Report</button>
          <!--END ACCORDIAN PANEL SECTION-->
  </div>
      <!--END ACCORDIAN -->
      </div>

  <!--spacer div-->
</template>