<template name="home">
<form id="coordinates" action="action">
  <div class="panel-group top-label" id="accordion">
  <!--START ACCORDIAN PANEL SECTION-->
  <div class="panel panel-default">
      <!--START ACCORDIAN HEADER SECTION-->
      <div class="panel-heading">
        <h4 class="panel-title">Map<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a></h4>
      </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
            {{> map}}
            </div>
          </div>
          <!--END ACCORDIAN CONTENT SECTION-->
          </div>
  <div class="panel panel-default">
      <!--START ACCORDIAN HEADER SECTION-->
      <div class="panel-heading">
        <h4 class="panel-title">Map<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a></h4>
      </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
            {{showContacts}}
            </div>
          </div>
          <!--END ACCORDIAN CONTENT SECTION-->
          </div>
          <!--END ACCORDIAN PANEL SECTION-->
      </div>
      <!--END ACCORDIAN -->
      <button id="report">Report</button>
</form>
  <!--spacer div-->
</template>