<template name="registration">
        <form id="register-form" action="action">
            <!--begin accordion-->
            <div class="panel-group top-label" id="accordion">
                <div class="panel panel-default login">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h4 class='title'>Registration</h4></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-xs-6"><input type="text" class="form-control input-lg" id="first_name" placeholder="First Name"></div>
                            <div class="col-xs-6"><input type="text" class="form-control input-lg" id="last_name" placeholder="Last Name"></div>
                        </div>
                    </div>
                </div>
            <div class="panel panel-default login">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h4 class='title'>Login Information</h4></a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="alert alert-error">
                    <h4>Warnings</h4>
                    <ul>
                        <li id="emailError">Email Cannot Be Null</li>
                        <li id="pswdUser">Password Cannot Be the Same as Username</li>
                        <li id="pswdLength">Password Must Be Longer than 8 Characters</li>
                        <li id="pswdNum">Password Must Contain Numbers</li>
                        <li id="pswdUpper">Password Must Contain Uppercase Letters</li>
                        <li id="pswdLower">Password Must Contain Lowercase Letters</li>
                        <li id="pswdMatch">Passwords Must Match</li>
                    </ul>
                    </div>
                        <div class="col-xs-12 top-label"><input type="text" class="form-control input-lg" id="username" placeholder="Username"></div>                      
                        <div class="col-xs-12  top-label"><input type="email" class="form-control input-lg" id="email" placeholder="E-mail Address"></div>
                        <div class="col-xs-6 top-label"><input type="password" class="form-control input-lg" id="password" placeholder="Password"></div>
                        
                        <div class="col-xs-6 top-label"><input type="password" class="form-control input-lg" id="rtpassword" placeholder="Re-enter password"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h4 class='title'>Emergency Contact*</h4></a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="col-xs-6 top-label">
                        <input type="text" class="form-control input-lg" id="cont" placeholder="Contact">
                    </div>
                    <div class="col-xs-6 top-label">
                        <input type="email" class="form-control input-lg" id="cont_email" placeholder="email address">
                    </div>
                    <div class="col-xs-6 top-label">
                    <input type="text" class="form-control input-lg" id="cont_phone" placeholder="phone number">
                    </div>
                    <div class="col-xs-6 top-label">
                        <select id="cont_carrier" class="form-control input-lg">
                        <option value="txt.att.net">ATT</option>
                        <option value="vtext.com">Verizon</option>
                        <option value="tmomail.net">T-mobile</option>
                        <option value="vmobl.com">Virgin</option>
                        <option value="pm.sprint.com">Sprint</option>
                        </select>
                    </div>
                    
                    <div class="col-xs-12 top-label">
                        Please use someone you can reach reliably by email or phone as your emergency contact.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default login">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><h4 class='title'>Authorization Code**</h4></a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="alert alert-error">
                        <h4>Warnings</h4>
                        <p id="mandrill">Invalid Authentication Key</p>
                    </div>
                    <div class="col-xs-12 top-label">
                        <input type="text" class="form-control input-lg" id="mandrillKey" placeholder="key">
                    </div>
                    <div class="col-xs-12 top-label">**If you require an authorization code please contact CrisisZone Administration</div>
                </div>
            </div>
        </div>
        <!--term accordion-->       
        <h3 class='title'><button id="register">Register</button></h3>
        </div>
        </form>
</template>
