<template name="registration">
        <form id="register-form" action="action">
            <!--begin accordion-->
            <div class="panel-group top-label" id="accordion">
                <div class="panel panel-default login">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h4 class='title'>Registration</h4></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-6"><input type="text" class="form-control input-lg" id="first_name" placeholder="First Name"></div>
                            <div class="col-md-6"><input type="text" class="form-control input-lg" id="last_name" placeholder="Last Name"></div>
                        </div>
                    </div>
                </div>
            <div class="panel panel-default login">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h4 class='title'>Login Information</h4></a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-12 top-label"><input type="text" class="form-control input-lg" id="username" placeholder="Username"></div>
                        <div class="col-md-12  top-label"><input type="email" class="form-control input-lg" id="email" placeholder="E-mail Address"></div>
                        <div class="col-md-6 top-label"><input type="password" class="form-control input-lg" id="password" placeholder="Password"></div>
                        <div class="col-md-6 top-label"><input type="password" class="form-control input-lg" id="rtpassword" placeholder="Re-enter password"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default login">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h4 class='title'>Emergency Contact*</h4></a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="col-md-6 top-label">
                        <input type="text" class="form-control input-lg" id="cont" placeholder="Contact">
                    </div>
                    <div class="col-md-6 top-label">
                        <input type="email" class="form-control input-lg" id="cont_email" placeholder="email address">
                    </div>
                    <div class="col-md-6 top-label">
                    <input type="text" class="form-control input-lg" id="cont_phone" placeholder="phone number">
                    </div>
                    <div class="col-md-6 top-label">
                        <select id="cont_carrier" class="form-control input-lg">
                        <option value="txt.att.net">ATT</option>
                        <option value="vtext.com">Verizon</option>
                        <option value="tmomail.net">T-mobile</option>
                        <option value="vmobl.com">Virgin</option>
                        <option value="pm.sprint.com">Sprint</option>
                        </select>
                    </div>
                    
                    <div class="col-md-12 top-label">
                        Please use someone you can reach reliably by email or phone as your emergency contact.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default login">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><h4 class='title'>Email Information*</h4></a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="col-md-6 top-label">
                        <input type="text" class="form-control input-lg" id="gmailAcct" placeholder="gmail">
                    </div>
                    <div class="col-md-6 top-label">
                        <input type="Password" class="form-control input-lg" id="gmailPswd" placeholder="gmail password">
                    </div>
                    <div class="col-md-12 top-label">*This information is used exclusively for sending emergency messages to your contacts.  We will never divulge or send email without your express permission</div>
                </div>
            </div>
        </div>
        <!--term accordion-->       
        <h3 class='title'><button id="register">Register</button></h3>
        </div>
        </form>
</template>
